  
# Copy this file as ".env.local".
# Update these with your Firebase app's values.

NEXT_PUBLIC_API_KEY = <YOUR_API_KEY>
NEXT_PUBLIC_AUTH_DOMAIN = <YOUR_AUTH_DOMAIN>
NEXT_PUBLIC_PROJECT_ID = <YOUR_PROJECT_ID>
NEXT_PUBLIC_STORAGE_BUCKET = <YOUR_STORAGE_BUCKET>
NEXT_PUBLIC_SENDER_ID = <YOUR_SENDER_ID>
NEXT_PUBLIC_APP_ID = <YOUR_APP_ID>
NEXT_PUBLIC_MEASURMENT_ID = <YOUR_MEASURMENT_ID>

# Your Firebase private key.
# When using Vercel, add the private key with double quotes
# via the CLI, not the Vercel dashboard:
#   vercel secrets add firebase-private-key '"my-key-here"'
# Then, use `JSON.parse` in the app. See:
# https://github.com/vercel/vercel/issues/749#issuecomment-707515089
FIREBASE_PRIVATE_KEY='"some-key-here"'

# Secrets used to sign cookies.
COOKIE_SECRET_CURRENT=someSecretValue
COOKIE_SECRET_PREVIOUS=anotherSecretValue

# Cookie options.
NEXT_PUBLIC_COOKIE_SECURE=false # set to true in HTTPS environment